<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <a routerLink="login" *ngIf="!activateguardService.login && !this.session" class="btn btn-outline-success my-2 my-sm-0 m-1">Login</a>
    <a (click)="logOut()" *ngIf="activateguardService.login || this.session" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
    <a routerLink="register" *ngIf="!activateguardService.login && !this.session" class="btn btn-outline-danger my-2 my-sm-0">SignUp</a>
  </div>
</nav>
<div class="container">
  <!-- Sidebar -->
  <div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
      <div class="toggle" (click)="isExpanded = !isExpanded">
        <span class="chevron"></span>
      </div>
    </div>
    <div class="content">
      <div class="link">
        <div class="content" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">
          <div class="icon">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <!-- SVG content here -->
            </svg>
          </div>
          <div class="title">DashBoard</div>
        </div>
      </div>
      <div class="link with-children">
        <div class="content" [routerLink]="['/personal']" [routerLinkActive]="'active'">
          <div class="icon">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <!-- SVG content here -->
            </svg>
          </div>
          <div class="title">PersonalExpense</div>
        </div>
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/month']" [routerLinkActive]="'active'">
          <div class="icon">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <!-- SVG content here -->
            </svg>

          </div>
          <div class="title">MonthlyChart</div>
        </div>
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/category']" [routerLinkActive]="'active'">
          <div class="icon">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <!-- SVG content here -->
            </svg>

          </div>
          <div class="title">CategoryChart</div>
        </div>
      </div>
      <div class="link">
        <div class="content" [routerLink]="['/expensebycategory']" [routerLinkActive]="'active'">
          <div class="icon">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <!-- SVG content here -->
            </svg>

          </div>
          <div class="title">Expense by Category</div>
        </div>
      </div>
    </div>

  </div>

  <!-- Main Content Area -->
  <div class="main-content" [ngClass]="{ 'expanded': isExpanded }">
    <router-outlet></router-outlet>
  </div>
</div>