<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <label for="start-date">Start Date:</label>
      <input 
        [(ngModel)]="startdate" 
        (ngModelChange)="getTRansactionsByDate()" 
        id="start-date" 
        name="startdate" 
        placeholder="Start Date" 
        type="date" 
        class="form-control" 
      />
    </div>
    <div class="col-sm-6 col-md-4">
      <label for="end-date">End Date:</label>
      <input 
        [(ngModel)]="enddate" 
        (ngModelChange)="getTRansactionsByDate()" 
        id="end-date" 
        name="enddate" 
        placeholder="End Date" 
        type="date" 
        class="form-control" 
      />
    </div>
  </div>

  <div *ngIf="Highcharts" class="chart-container">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions1"
      style="width: 100%; height: 400px; display: block;"
    >
    </highcharts-chart>
  </div>
</div>
